* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/background.jpg") center/cover no-repeat fixed;
}

body,
html {
    height: 100%;
}

/* ---> Main Content <--- */
/* Style the header */
header {
    background-color: rgba(102, 102, 102, 0.3);
    color: white;
    padding: 30px;
    margin: auto;
    text-align: center;
    font-size: 35px;
    border: 2px solid black;
    border-radius: 25px;
}

.backbutton {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    margin: auto;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

/* Container for flexboxes */
section {
    display: flex;
}

/* Style the navigation menu */
nav {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    display: inline-block;
}

nav ul li {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 16px;
    margin: 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

nav ul li a {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
}

.icons {
    border: 2px solid black;
    border-radius: 25px;
    margin: auto;
    width: 250px;
    height: 250px;
}

.topText {
    color: white;
    background-color: rgba(0, 128, 128, 0.3);
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    max-width: max-content;
}

/* Style the content */
article {
    flex: 3;
    padding: 10px;
    text-align: center;
}

.videoGallery {
    background-color: rgba(0, 128, 128, 0.3);
    border: 2px solid black;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    height: 740px;
    padding: 10px;
    overflow: scroll;
    scrollbar-width: none;
}

.videos {
    border: 5px solid #800020;
    border-radius: 25px;
    margin: auto;
    width: 280px;
    height: 220px;
}

.imageGallery {
    background-color: rgba(0, 128, 128, 0.3);
    border: 2px solid black;
    border-radius: 25px;
    margin: auto;
    width: 80%;
    height: 830px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: scroll;
    scrollbar-width: none;
}

.dropbutton {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 18px;
    margin: auto;
    width: 80%;
    border: 5px solid #800020;
    border-radius: 25px;
    text-align: center;
    outline: none;
    font-weight: bolder;
    font-size: 20px;
}

.subgalleries {
    background-color: rgba(0, 128, 128, 0.3);
    border: 2px solid black;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    height: 90%;
    padding-top: 15px;
    overflow: scroll;
    scrollbar-width: none;
}

.subcontent {
    background-color: rgba(0, 128, 128, 0.3);
    margin: auto;
    max-height: 0;
    max-width: 80%;
    overflow: hidden;
    transition: 0.2s ease-out;
}

.copyright {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 128, 128, 0.3);
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    max-width: max-content;
    position: static;
    bottom: 0;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other*/
@media (max-width: 600px) {
    section {
        flex-direction: column;
    }
}